<div class="item" (click)="onSelectItem()">
    <div
        class="item-icon"
        [ngClass]="{
            'selected-module': currentModule.includes(
                sideNavItem.path
            )
        }"
    >
        <mat-icon
            aria-hidden="false"
            class="icon hover-icon"
            aria-label="Example home icon"
            [fontIcon]="sideNavItem.icon"
        ></mat-icon>
        <span *ngIf="opened">{{ sideNavItem.name }}</span>
    </div>
    <mat-icon
        *ngIf="opened"
        aria-hidden="false"
        aria-label="Example home icon"
        class="icon"
        fontIcon="chevron_left"
    ></mat-icon>
</div>
