:host {
    display: flex;

    .menu {
        margin-left: 5px;
        margin-right: 0.6rem;
    }

    .nav {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 2;
        background: var(--light-color);
        height: 76px;
    }

    .logo {
        padding: 0 1.25rem;
        border-left: 1px solid var(--divider-color);
        font-size: 1.75rem;
        white-space: nowrap;
        text-decoration: none;
        color: var(--primary-text-color);
    }

    .avatar-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        &:hover {
            .user-name {
                color: var(--accent-color);
            }
        }
    }

    .user-name {
        font-size: var(--user-medium-name-text-font-size);
        line-height: var(--user-medium-name-text-line-height);
        color: var(--primary-text-color);
        font-weight: var(--text-font-weight-400);
    }
}

.menu-button {
    &:hover {
        background-color: #fff !important;
        span {
            color: var(--accent-color) !important;
        }
    }
}
