<mat-drawer-container class="drawer" autosize [hasBackdrop]="false">
    <mat-drawer
        #drawer
        [class]="drawerClass"
        mode="over"
        [opened]="true"
    >
        <div class="inner-drawer-container">
            <div>
                <app-sidenav-item
                    *ngFor="let item of sideNavItems"
                    [sideNavItem]="item"
                ></app-sidenav-item>
            </div>
            <span *ngIf="sideOpened">version {{ versionApp }}</span>
        </div>
    </mat-drawer>

    <div
        class="sidenav-content"
        [ngClass]="{ 'sidenav-content-opened': sideOpened }"
    >
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
